nav {
    background-color: #6b4eb9;
    background-image: linear-gradient(.25turn, #6b4eb9 0%, #53268f 52%, #73117c 90%);
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.violet {
    background-color: violet;
}